body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.5998774509803921) 50%, rgba(252,176,69,1) 100%);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}

button {
  margin-bottom: 20px;
  width: 100px;
  font-size: large;
  font-weight: 600;
}

header {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.color {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
}

.pixel {
 background-color: white;
 display: inline-block;
 height: 40px;
 width: 40px;
 border: 1px solid black;
}

#board-size {
  width: 100px;
  font-size: large;
  text-align: center;
}

#pixel-board {
  font-size: 0%;
  align-self: center;
  padding: auto;
}

#title {
  font-weight: 800;
  font-size: 40px;
}
